body {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 14px;
  font-weight: 400;

  background-color: #f2f4ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

p {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 16px;

  width: 100%;
  min-width: 375px;
  max-width: 375px;

  @media screen and (min-width: 768px) {
    padding: 0 32px;
    max-width: 768px;
  }

  @media screen and (min-width: 1440px) {
    padding: 0 100px;
    max-width: 1440px;
  }
}

/*Variables*/
:root {
  --primary-font-color: #2f3458;
  --secondary-font-color: #9e724e;
  --third-font-color: #c9b4a3;
  --wite-text-color: #f6f6f6;

  --background-first: #2f3458;
  --background-second: #9e724e;

  --icon-color: #c8b1a1;
  --accent-icon-color: #f6f6f6;
  --card-set-gap: 20px;

  --white-color: #f6f6f6;
}

/*-----Header-----*/
.header {
  background-color: var(--background-first);
}

.logo {
  width: 60px;
  height: 60px;

  cursor: pointer;

  @media screen and (min-width: 1440px) {
    width: 80px;
    height: 80px;
  }
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;

  @media screen and (min-width: 768px) {
    padding-top: 16px;
    padding-bottom: 10px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.logo__icon {
  @media screen and (min-width: 1440px) {
    width: 80px;
    height: 80px;
  }
}

/*-----Button to open/close the mobile menu-----*/
.burger-menu-button {
  position: relative;
  display: flex;
  align-items: center;

  border: none;
  background-color: transparent;

  z-index: 100;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.burger-menu-button .burger-menu-button__icon-close-menu {
  display: none;
}

.burger-menu-button.is-open .burger-menu-button__icon-close-menu {
  display: block;
}

.burger-menu-button.is-open .burger-menu-button__icon-menu {
  display: none;
}

/*-----Mobile menu-----*/
.mobile-menu {
  @media screen and (max-width: 767.9px) {
    position: fixed;
    top: 74px;
    right: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: var(--background-first);

    z-index: 50;
  }
}

.mobile-menu.is-open {
  display: block;
}

.mobile-menu__wrapper {
  @media screen and (max-width: 767.9px) {
    margin: 0px auto;
    padding: 0px 16px;

    width: 375px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

/*-----Navigation menu-----*/

.navigation__list {
  display: flex;

  @media screen and (max-width: 767.9px) {
    flex-direction: column;
    gap: 16px;

    margin-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    align-items: center;
    gap: 35px;
  }

  @media screen and (min-width: 1440px) {
    gap: 50px;
  }
}

.navigation__list-item {
  position: relative;
}

.navigation__list-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;

  border-radius: 2px;
  background-color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .navigation__list-item::after {
    display: none;
  }
}

.navigation__list-link {
  position: relative;

  padding: 16px 0px;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  color: var(--wite-text-color);

  @media screen and (min-width: 768px) {
    padding: 0px;

    font-size: 16px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }
}

.navigation__list-item:hover,
.navigation__list-item:focus {
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;

    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--white-color);
  }
}

/*-----Phones-----*/
.phone-numbers {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.phone-numbers__item {
  position: relative;
}

.phone-numbers__item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;

  border-radius: 2px;
  background-color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .phone-numbers__item::after {
    display: none;
  }
}

.phone-numbers__link {
  padding: 16px 0px;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;

  color: var(--wite-text-color);
}

.phone-numbers__link-name {
  margin-right: 12px;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;

  color: var(--wite-text-color);
}

/*-----Phone numbers without links-----*/
.contacts {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  @media screen and (min-width: 1440px) {
    gap: 30px;
  }
}

.contacts__name {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;

  color: var(--wite-text-color);

  @media screen and (min-width: 1440px) {
    font-size: 16px;
  }
}

.contacts__number {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;

  color: var(--wite-text-color);

  @media screen and (min-width: 1440px) {
    font-size: 16px;
  }
}

/*-----Section Hero-----*/
.hero {
  padding-top: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
  }
}

.hero-title {
  margin-bottom: 15px;

  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;

  color: var(--primary-font-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 22px;

    font-size: 52px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 32px;

    font-size: 92px;
  }
}

.hero-content {
  position: relative;

  width: 343px;
  height: 372px;
  background-image: url('../images/hero/hero-mobile@1x.png');
  background-size: 343px 372px;

  @media screen and (min-width: 768px) {
    width: 704px;
    height: 574px;
    background-image: url('../images/hero/hero-tablet@1x.png');
    background-size: 704px 574px;
  }

  @media screen and (min-width: 1440px) {
    width: 1240px;
    height: 714px;
    background-image: url('../images/hero/hero-desktop@1x.png');
    background-size: 1240px 714px;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-content {
    background-image: url('../images/hero/hero-mobile@2x.png');

    @media screen and (min-width: 768px) {
      background-image: url('../images/hero/hero-tablet@2x.png');
    }

    @media screen and (min-width: 1440px) {
      background-image: url('../images/hero/hero-tablet@2x.png');
    }
  }
}

.hero-content__text-first {
  padding-bottom: 16px;

  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;

  color: var(--primary-font-color);

  @media screen and (min-width: 768px) {
    padding-bottom: 30px;

    font-size: 28px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 48px;
  }
}

.hero-content__wrapper-text {
  @media screen and (max-width: 767.9px) {
    width: 200px;
  }
}

.hero-content__text-second,
.hero-content__text-third {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;

  color: var(--primary-font-color);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    font-weight: 500;
  }

  @media screen and (min-width: 1440px) {
    font-size: 28px;
  }
}

.works-list {
  position: absolute;
  left: 0;
  bottom: -90px;

  display: flex;
  gap: 12px;
  padding: 16px 18px;

  width: 100%;

  border-radius: 0px 0px 20px 20px;

  background-color: var(--background-first);

  @media screen and (max-width: 767.9px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    bottom: 0;

    align-items: center;
    gap: 22px;

    padding-left: 24px;
    padding-right: 24px;
  }

  @media screen and (min-width: 1440px) {
    padding: 32px 64px;
    gap: 42px;
  }
}

.works-list__item {
  display: flex;
  align-items: center;
  gap: 8px;

  @media screen and (min-width: 1440px) {
    gap: 10px;
  }
}

.works-list__item-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;

  color: var(--wite-text-color);

  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }
}
